force-app/main/default/flows/JourneyEnrollmentsNoTarget.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Create_Journey</name>
        <label>Create Journey</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>journey.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Journey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Monthly_Participation</name>
        <label>Create Monthly Participation</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>monthlyParticipation.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthlyParticipation.Journey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>journey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>monthlyParticipation.Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>previousMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Enrollments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count</name>
        <label>Set Count</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>monthlyParticipation.Number_of_Enrollments__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Enrollments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_Monthly_Participation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Journey_From_Existing</name>
        <label>Set Journey From Existing</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>journey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Journey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Monthly_Participation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MP_ID</name>
        <label>Set MP ID</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>monthlyParticipation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Monthly_Participation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Enrollments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Get_Journey</name>
        <label>Check Get Journey</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Create_Journey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Journey Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Journey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Journey</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Journey_From_Existing</targetReference>
            </connector>
            <label>Got Journey</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_MP</name>
        <label>Check Get MP</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Create_Monthly_Participation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MP Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_MP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Monthly_Participation</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MP_ID</targetReference>
            </connector>
            <label>Got MP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>previousMonth</name>
        <dataType>String</dataType>
        <expression>TEXT( YEAR( ADDMONTHS( {!$Flow.CurrentDate}, -1 ) ) ) &amp; &quot;-&quot; &amp; 
LPAD( TEXT( MONTH( ADDMONTHS( {!$Flow.CurrentDate}, -1 ) ) ), 2, &quot;0&quot; )</expression>
    </formulas>
    <interviewLabel>JourneyEnrollmentsNoTarget {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JourneyEnrollmentsNoTarget</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Journey</name>
        <label>Insert Journey</label>
        <locationX>578</locationX>
        <locationY>576</locationY>
        <inputReference>journey</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Upsert_Monthly_Participation</name>
        <label>Upsert Monthly Participation</label>
        <locationX>182</locationX>
        <locationY>1200</locationY>
        <doesUpsert>true</doesUpsert>
        <inputReference>monthlyParticipation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Enrollments</name>
        <label>Get All Enrollments</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Journey</name>
        <label>Get Journey</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Journey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Monthly_Participation</name>
        <label>Get Monthly Participation</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_MP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Journey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>journey.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previousMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Monthly_Participation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Journey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Enrollment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-11</startDate>
            <startTime>14:28:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>journey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey__c</objectType>
    </variables>
    <variables>
        <name>monthlyParticipation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Monthly_Participation__c</objectType>
    </variables>
</Flow>
